body {
    margin: 20px 60px 20px 15px;
}

#tlsTaskForm {
    max-width: 400px;
    margin: 0 auto;
}


legend {
    text-align: center;
}

.form-horizontal .control-label {
    text-align: left;
}

.task-input-modal {
    display: none;
    padding-top: 15%; 
    overflow-y: visible; 
    padding-right: 17px;

    pre {
        display: none;
        font-size: 11px;
    }
    
    button{
        display: none;
        float: right;
        margin-left: 15px;
    }

    .modal-header,
    .modal-body {
        overflow: hidden;
    }

    #tim-task-info {
        margin: 10px 0 10px;
    }
}

.task-input-modal-backdrop {
    display: none;
}

.tls-super-hidden {
    display: none;
}

.tls-hidden-group-large {
    margin-bottom: 25px;
}

.tls-indented {
    border-left: 2px solid #818181;
    margin: 0 !important;
    padding: 5px 0 5px;
}

#tls-type-form-group {
    margin: 0;
}

// #professor-detail-input_hidden {
//     display: none;
// }

// #professor-detail-input_not-hidden {
//     display: block;
// }

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.input-group-btn {
    position: absolute;
    top: 0%;
    right: 0;
}