body {
  margin: 20px 60px 20px 15px; }

#tlsTaskForm {
  max-width: 400px;
  margin: 0 auto; }

legend {
  text-align: center; }

span.red {
  color: red; }

.form-horizontal .control-label {
  text-align: left; }

.task-input-modal {
  display: none;
  padding-top: 15%;
  overflow-y: visible;
  padding-right: 17px; }

.task-input-modal pre {
  display: none;
  font-size: 11px; }

.task-input-modal button {
  display: none;
  float: right;
  margin-left: 15px; }

.task-input-modal .modal-header,
.task-input-modal .modal-body {
  overflow: hidden; }

.task-input-modal #tim-task-info {
  margin: 10px 0 10px; }

.task-input-modal-backdrop {
  display: none; }

.tls-super-hidden {
  display: none; }

.tls-group-large {
  margin-bottom: 25px; }

.hidden {
  display: none; }

.tls-indented {
  border-left: 2px solid #818181;
  margin: 0 !important;
  padding: 5px 0 5px; }

#tls-type-form-group {
  margin: 0; }

.entry:not(:first-of-type) {
  margin-top: 10px; }

.glyphicon {
  font-size: 12px; }

.tls-muliple-plus-btn {
  padding-left: 15px;
  padding-top: 10px; }

.tls-muliple-plus-btn .btn {
  border-radius: 4px !important; }

.tls-muliple-minus-btn {
  position: absolute;
  top: 0%;
  right: 0; }

.tls-muliple-minus-btn .btn {
  border-radius: 4px !important; }

.control-sub-label {
  color: #737373;
  font-style: italic; }

.tls-datepicker-input {
  max-width: 115px; }

.datepicker {
  margin-top: 15px;
  margin-left: 15px; }
